name: Rust

on:
  push:
    branches: [ "main" ]
    paths:
        - "src/**"
        - "testdata/**"
        - "Cargo.toml"
        - "Cargo.lock"
  pull_request:
    branches: [ "main" ]
    paths:
        - "src/**"
        - "testdata/**"
        - "Cargo.toml"
        - "Cargo.lock"

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Install Foundry
      uses: foundry-rs/foundry-toolchain@v1
    - name: Show Forge version
      run: forge --version
    - name: Run tests
      run: |
        cargo test --verbose
